.top {
	height: 100%;
	position: relative;

	.header {
		top: 50%;
		margin: 0;
		width: 100%;
		position: absolute;
		padding: 1rem 2rem;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);

		* {
			margin-bottom: 0;
		}

		.user-button {
			padding: 0;

			img {
				width: 50px;
				height: auto;
			}

			& > small {
				right: -10px;
				bottom: -20px;
			}
		}
	}

}
