/**
COLORS
 */

$blue: #165c7d;

$border-color: #dce0e5;
$container-color: #e7eef1;

/**
SIZES
 */

$template-l-row: 7.7875fr;
$template-r-row: 70fr;

$template-l-column: 9.375fr;
$template-r-column: 120fr;
